@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0B1223;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.player {
    background-color: #064667;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 500px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    #capaMusica {
        background-color: #f7f7f7;
        width: 300px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;  
    }
    #nomeMusica {
        font-size: 25px;
        font-family:'Radio Canada Big';
        color: whitesmoke;
        background-color: #064667;
    }
}
.controles{
    background-color: #064667;
}
.controles button{
    background: none;
    border: none;
    cursor: pointer;
    i {
        font-size: 45px;
        padding: 8px;
        border-radius: 50%;
        background-color: rgb(148, 190, 190);
        transition: all .4s;
    }
    i:hover {
        background-color: #f7f7f7;
    }
}
.tempo {
    background-color: #064667;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.tempo span {
    font-family:'Radio Canada Big';
    background-color: #064667;
    font-size: 22px;
    color: whitesmoke;
}
.dadosMusica{
    width: 100%;
    
}
.progressBar  {
    height: 8px;
    background-color: #ddd;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}

.progress {
    height: 8px;
    background-color: #64a6cb;
    ;
    border-radius: 5px;
}

.fall {
    display: none;
}
#nomeMusica {
    text-align: center;
}